@font-face {
  font-family: Handlee;
  src: url('./assets/fonts/Handlee/Handlee-Regular.ttf') format('truetype');
}
@font-face {
  font-family: Inter;
  src: url('./assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}


:root {
  --text-color: #0C0C0C;
  --orange-color: #FFE68C;
  --blue-color: #9DDCFF;
  --pink-color: #FFC9F0;
  --main-font: 'Handlee';
  --secondary-font: 'Inter'
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 9em
}
header div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1.4em;
  font-weight: 900;
}
header div:nth-child(1) img {
  width: 40px
}
header nav {
  font-family: var(--secondary-font);
  padding-right: 7em;
}
header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2em;
}
header nav ul li {
  cursor: pointer;
  text-decoration: underline transparent;
  transition: 0.2s ease;
}
header nav ul li:hover {
  text-decoration: underline var(--text-color);
}
header nav ul div {
  height: 5px;
  background-color: var(--pink-color);
  transform: translateY(0.17em); 
}
header nav ul div li {
  transform: translateY(-0.7em);
}
.landing {
  margin-top: 3em;
}
.landing .doodle {
  display: flex;
  align-items: center;
  padding-left: 8em;
}
.landing .doodle img:nth-child(1) {
  width: 8vw
}
.landing .doodle img:nth-child(2) {
  rotate: 10deg;
  width: 5vw
}
.landing .doodle p {
  background-color: var(--pink-color);
  height: fit-content;
  margin-left: 0.5em;
}
.landing .about-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  width: 80%;
  font-family: var(--secondary-font);
  gap:8em;
  margin-top: 2em;
}
.landing .about-me div:nth-child(1) {
  font-size: 2.2vw;
}
.landing .about-me div:nth-child(1) h1 {
  margin: 0
}
.landing .about-me div:nth-child(1) h1 .pink-bg {
  background-color: var(--pink-color);
  display: inline-block;
  height: 15px;
  transform: translateY(0.7em);
}
.landing .about-me div:nth-child(1) h1 .pink-bg span {
  display: inline-block;
  transform: translateY(-0.7em);
}
.landing .about-me div:nth-child(2) p {
  margin-top: 0;
}
.landing .about-me div:nth-child(2) button {
  margin-top: 0.5em;
  font-size: 1.1em;
  padding: 0.5em 2em;
  border-radius: 0;
  border: 1px solid var(--text-color);
  color: white;
  background-color: var(--text-color);
}

.whatido {
  margin-top: 5em
}
.whatido > div:nth-child(1) {
  padding-left: 9em;
}
.whatido > div:nth-child(1) p {
  font-size: 1.4em;
  font-weight: 700;
  background-color: var(--pink-color);
  width: fit-content
}
.whatido > div:nth-child(1) img {
  margin-top: 0.5em;
  rotate: 290deg;
}
.card-group {
  width: 90%;
  margin: 2em auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5em
}
.card {
  border-radius: 5px;
  height: 15em;
  width: 90%;
  padding: 3.5em 1em 2em 1em;
}
.card h3 {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 1.6em;
  width: 80%
}
.card:nth-of-type(1) {
  rotate: -4deg;
  background-color: var(--orange-color);
  border: 2px solid #EECD56;
}
.card:nth-of-type(2){
  rotate: 4deg;
  background-color: var(--blue-color);
  border: 2px solid #5AB5E8;
}
.card:nth-of-type(3){
  rotate: -4deg;
  background-color: var(--pink-color);
  border: 2px solid #F384D4;
}
.card p {
  width: fit-content;
  font-size: 1.1em;
  font-weight: 600;
  margin: 0;
  position: relative;
}
.card:nth-of-type(1) p {
  background-color: var(--blue-color);
  top: -11em;
  left: 16em;
  rotate: 4deg;
}
.card:nth-of-type(2) p {
  background-color: var(--pink-color);
  top: -12em;
  left: 16em;
  rotate: -4deg;
}
.card:nth-of-type(3) p {
  background-color: var(--orange-color);
  top: -11em;
  left: 17em;
  rotate: 4deg;
}


.featured {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 80%;
  margin: 0 auto;
  margin-top: 10em;
  gap: 2em
}
.featured-side {
  display: grid;
  grid-template-rows: 3fr;
  height: fit-content;
  gap: 1em;
  width: fit-content
}
.featured-side p:nth-child(1) {
  background-color: var(--pink-color);
  width: fit-content;
  width: fit-content;
  font-weight: 600;
  font-size: 1.4em;
}
.featured-side img {
  rotate: 240deg;
  justify-self: center;
  width: 4em
}
.featured-side p:nth-child(3) {
font-family: var(--secondary-font);
}
.featured-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em
}
.featured-main > div {
  padding: 1em;
  border: 2px solid var(--text-color);
  background-color: white;
}
.featured-main > div >img {
  width: 100%
}
.featured-main > div > p {
  font-weight: 600;
  font-size: 1.2em;
}
.strip {
  display: flex;
  justify-content: end;
  font-family: var(--secondary-font);
  color: white;
  height: 3em;
}
.featured-main > div .strip p {
  padding: 0.3em 0.6em;
  margin: 0;
  border-radius: 0 25em 25em 25em;
  align-self: flex-end;
}
.featured-main > div .strip img {
  align-self: flex-start;
}
.featured-main > div:first-child .strip p {
  background-color: #F072CD;
  border: 2px solid #DB4A90;
}
.featured-main > div:nth-child(2) .strip p {
  background-color: #5AB5E8;
  border: 2px solid #1C6AB1;
}
.featured-main > div:nth-child(3) .strip p {
  background-color: #E5C141;
  border: 2px solid #BB9C2A;
}
.featured-main > div:nth-child(4) .strip p {
  background-color: #7CF072;
  border: 2px solid #4ED543;
}












@media(max-width: 900px ) and (min-width: 700px) {
  .landing .doodle img:nth-child(1) {
    width: 12vw
  }
  .landing .doodle img:nth-child(2) {
    width: 7vw
  }
  .landing .about-me {
    gap: 4em
  }
  .landing .about-me div:nth-child(1) {
    font-size: 3vw;
  }
  .card:nth-of-type(1) p {
    background-color: var(--blue-color);
    top: -13em;
    left: 7em;
    rotate: 4deg;
  }
  .card:nth-of-type(2) p {
    background-color: var(--pink-color);
    top: -14em;
    left: 9em;
    rotate: -4deg;
  }
  .card:nth-of-type(3) p {
    background-color: var(--orange-color);
    top: -12em;
    left: 8em;
    rotate: 4deg;
  }
}
@media (max-width: 699px) and (min-width: 500px){
  header {
    gap: 2em
  }
  .landing .doodle img:nth-child(1) {
    width: 16vw
  }
  .landing .doodle img:nth-child(2) {
    width: 9vw
  }
  .landing .about-me {
    grid-template-columns: 1fr;
    gap: 1em
  }
  .landing .about-me div:nth-child(1) {
    font-size: 4vw;
  }
  .landing .about-me div:nth-child(2) p {
    margin-top: 1em;
  }
  .whatido > div:nth-child(1) {
    padding-left: 4em;
  }
  .card {
    margin-top: 1em;
  }
  .card-group {
    width: 80%;
    grid-template-columns: 1fr;
  }
  .featured {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 auto;
    margin-top: 7em;
    gap: 2em
  }
  .featured-side {
    gap: 0.5em
  }
  .featured-main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em
  }
  .featured-side img {
    rotate: 240deg;
    justify-self: flex-start;
    margin-left: 2em;
    width: 4em
  }
}
@media (max-width: 499px) and (min-width: 300px) {
  header {
    gap: 1em
  }
  header nav {
    padding-right: 2em;
    font-size: 0.8em;
  }
  .landing .doodle {
    padding-left: 2em;
  }
  .landing .doodle img:nth-child(1) {
    width: 20vw
  }
  .landing .doodle img:nth-child(2) {
    width: 10vw
  }
  .landing .about-me {
    grid-template-columns: 1fr;
    gap: 1em
  }
  .landing .about-me div:nth-child(1) {
    font-size: 7vw;
  }
  .landing .about-me div:nth-child(2) p {
    margin-top: 1em;
  }
  .whatido > div:nth-child(1) {
    padding-left: 2em;
  }
  .card {
    margin-top: 1em;
  }
  .card-group {
    grid-template-columns: 1fr;
    width: 80%;
  }
  .card:nth-of-type(1) p {
    background-color: var(--blue-color);
    top: -14em;
    left: -1em;
    rotate: 4deg;
  }
  .card:nth-of-type(2) p {
    background-color: var(--pink-color);
    top: -14em;
    left: 5em;
    rotate: -4deg;
  }
  .card:nth-of-type(3) p {
    background-color: var(--orange-color);
    top: -13em;
    left: -1em;
    rotate: 4deg;
  }
  .featured {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 auto;
    margin-top: 5em;
    gap: 2em
  }
  .featured-main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em
  }
  .featured-side {
    gap: 0.3em
  }
  .featured-side img {
    rotate: 240deg;
    justify-self: flex-start;
    margin-left: 3em;
    width: 4em
  }
}